name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]
    # This ensures it runs whenever you push code to the main branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          # This tags the image with 'latest' AND the short git commit hash
          tags: |
            yousofhajhasan24/discord-voice-recorder:latest
            yousofhajhasan24/discord-voice-recorder:${{ github.sha }}